.logo {
  border-radius: 90%; /* pour rendre l'image circulaire */
  width: 100px; /* spécifie la largeur de l'image */
  height: 120px; /* spécifie la hauteur de l'image */
  object-fit: cover; /* redimensionne l'image pour qu'elle remplisse complètement le conteneur */
}
